<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=1024, initial-scale=1, minimum-scale: 1, maximum-scale: 1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

    <meta name="image" content="images/meta_img.jpg">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="images/meta_img.jpg">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="images/meta_img.jpg">
    <meta name="keywords" content="" />

    <title>Adi Artech Transducers Pvt. Ltd.</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <!-- <b class="screen-overlay"></b>
    <div id="loaderbox">
        <div class="loader"></div>
    </div> -->
    <!-- =========== Header Area Strat =========== -->
    <div class="mainHeader">
        <div class="container">
            <header>
                <div class="logo">
                    <a href="index.html"> <img src="~/images/adi_artech_transducers_pvt_ltd.png" alt="Adi Artech Transducers Pvt. Ltd." class="img-fluid">
                    </a>
                </div>
                <div class="header_right">
                    <div class="navBlock">
                        <div class="navbarBtn d-lg-none">
                            <button type="button" id="sidebarCollapse" class="btn crossLine">
                                <span class="line crossLine1"></span>
                                <span class="line crossLine2"></span>
                                <span class="line crossLine3"></span>
                            </button>
                        </div>
                        <nav class="navbarLink navbar-expand-md" id="sidebar">
                            <div class="navi_mobile">
                                <div class="navbar-collapse">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a href="products.html">Products</a></li>
                                        <li><a href="applications.html">Applications</a></li>
                                        <li><a href="software.html">Software</a></li>
                                        <li class="dropdown active"><a href="about_us.html">About Us</a>
                                            <a class="dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-caret-down" aria-hidden="true"></i> </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="about_us_vision.html#ourvalues">Our Values</a></li>
                                                <li><a class="dropdown-item" href="about_us_vision.html#csr">CSR</a></li>
                                                <li><a class="dropdown-item" href="about_us_vision.html#annual_report">Annual Report</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="why_adi.html">Why ADI</a></li>
                                        <li><a href="resource.html">Resource</a></li>
                                        <li><a href="javascript:void(0)">Customization</a></li>
                                        <li><a href="career.html">Career</a></li>
                                        <li><a href="contact_us.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <!-- =========== Header Area end =========== -->
    <!-- =========== Banner Area Strat =========== -->
    <div class="banner_area inner_banner_area">
        <div class="inner_banner">
            <div class="banner_box">
                <div class="banner_img">
                    <img src="~/images/banner_about_us.png" alt="" class="img-fluid">
                </div>
                <div class="banner_text">
                    <div class="container">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =========== Banner Area end =========== -->
    <!-- =========== Main Conten Area Strat =========== -->
    <div class="mp_contenier inner_contenier">
        <div class="section_padding detail_section">
            <div class="container">
                <div class="detail_product">
                    <div class="productImg minhieghtnone"><div class="imgbox"><img src="~/images/" alt="About Us" class="img-fluid"></div>
                </div>
                    <h2>Advancing Capabilities Through Accurate Measures & Control</h2>
                    <p>ADI Artech is India’s leading company and the preferred source of high-quality Strain Gage based Load Cells, Torque Transducers, Force Sensors, Pressure Sensors, Electronic Instrumentation Systems and Software. The Company has served OEM and after-market customers in India and abroad for thirty years.</p>
                    <p>ADI Artech’s innovative products help sense, measure, and detect changes in displacement, temperature, current, and other desired parameters.</p>                        
                    <p>Our products' applications range from simple weighing scales to complex sensors required in industrial instrumentation systems.</p>                        
                    <p><strong>ADI Artech- The first name in sensors & transducers.</strong></p>
                </div>
            </div>
        </div>  
        <div class="section_padding about_section1 bg_img4">
            <div class="container text-center">
                <div class="max_width1028">
                    <h2>Customisation- If you have the Application, <br>we have the Solution</h2>
                    <p>Our customers are not limited by our standard range of products. We are well known for the customisation of our products to suit specific client applications. Our very successful R&D team has spearheaded several innovative technological breakthroughs and delivered customised solutions. All our products are environmentally tested for vibration, humidity, ingress of dust & moisture and temperature.</p>
                </div>                
            </div>
        </div>
        <div class="section_padding quality_and_reliability_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="imgBox scalezoom"><img src="~/images/quality_and_reliability_img.jpg" alt="" class="img-fluid"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="marginleft15">
                            <h2>Factors That Give Us An Edge in Quality and Reliability</h2>
                            <ul class="bullet ulm8">
                                <li>Large, purpose-built infrastructure spread across 60,000 sq feet with an Advanced Design facility.</li>
                                <li>Latest CNC Machines.</li>                                    
                                <li>Computer Controlled actual mass and hydraulic dead weight testers from 0 to 500Nup to 0 to 3000KN capacity to ensure quality.</li>                                    
                                <li>Laser welding machine for hermetical sealing.</li>                                    
                                <li>Responsive after sales services.</li>                                    
                                <li>Large inventory that ensures prompt delivery at short notice.</li>                                    
                                <li>Careful guidance for product selection, installation and trouble shooting.</li>                                    
                                <li>R &D for product upgradation.</li>
                            </ul>
                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
        <div class="section_padding flag_world_section bg_world">
            <div class="container text-center">
                <h2 class="h2">A Product Range That is Accepted Across the World</h2>               
                <div class="flag_world_div maxwidthmobile90per comman_slider comman_slider1">
                    <div class="flagworldSlider" style="display: none;">
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/usa.png" alt="" class="img-fluid"></span>
                                    <strong>USA</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/sri-lanka.png" alt="" class="img-fluid"></span>
                                    <strong>Sri Lanka</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/spain.png" alt="" class="img-fluid"></span>
                                    <strong>Spain</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/philippines.png" alt="" class="img-fluid"></span>
                                    <strong>Philippines</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/vietnam.png" alt="" class="img-fluid"></span>
                                    <strong>Vietnam</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/egypt.png" alt="" class="img-fluid"></span>
                                    <strong>Egypt</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/bangladesh.png" alt="" class="img-fluid"></span>
                                    <strong>Bangladesh</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/united-arab-emirates.png" alt="" class="img-fluid"></span>
                                    <strong>UAE</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/ethiopia.png" alt="" class="img-fluid"></span>
                                    <strong>Ethiopia</strong>
                                </a>
                            </div>
                        </div>
                        
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/uganda.png" alt="" class="img-fluid"></span>
                                    <strong>Uganda</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/seychelles.png" alt="" class="img-fluid"></span>
                                    <strong>Seychelles</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/germany.png" alt="" class="img-fluid"></span>
                                    <strong>Germany</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/seychelles.png" alt="" class="img-fluid"></span>
                                    <strong>Seychelles</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/germany.png" alt="" class="img-fluid"></span>
                                    <strong>Germany</strong>
                                </a>
                            </div>
                        </div><div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="~/images/flag/seychelles.png" alt="" class="img-fluid"></span>
                                    <strong>Seychelles</strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="box_comman2">
                                <a>
                                    <span><img src="images/flag/germany.png" alt="" class="img-fluid"></span>
                                    <strong>Germany</strong>
                                </a>
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>  
        <div class="section_padding our_team_section">
            <div class="container">
                <h2>Our Team</h2>
                <div class="our_team_div maxwidthmobile90per comman_slider comman_slider2">
                    <div class="teamSlider" style="display: none;">
                        <div>
                            <div class="boxteam">
                                <a href="#">
                                    <span><img src="~/images/team/janedoe.png" alt="Single Point Load Cells" class="img-fluid"></span>
                                    <strong>Jane Doe
                                        <small>(Director)</small>
                                    </strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="boxteam">
                                <a href="#">
                                    <span><img src="~/images/team/joesixpack.png" alt="Single Point Load Cells" class="img-fluid"></span>
                                    <strong>Joe Sixpack
                                        <small>(Director)</small>
                                    </strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="boxteam">
                                <a href="#">
                                    <span><img src="~/images/team/joedakes.png" alt="Single Point Load Cells" class="img-fluid"></span>
                                    <strong>Joe Doakes
                                        <small>(Director)</small>
                                    </strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="boxteam">
                                <a href="#">
                                    <span><img src="~/images/team/joeblow.png" alt="Single Point Load Cells" class="img-fluid"></span>
                                    <strong>Joe Blow
                                        <small>(Director)</small>
                                    </strong>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="boxteam">
                                <a href="#">
                                    <span><img src="~/images/team/janedoe.png" alt="Single Point Load Cells" class="img-fluid"></span>
                                    <strong>Jane Doe
                                        <small>(Director)</small>
                                    </strong>
                                </a>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- =========== Main Conten Area End =========== -->
    <!-- =========== Footer Area Strat =========== -->
    <footer class="fotter_area">
        <div class="footerTop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Explore Links</div>
                            <div class="footer_navi">
                                <ul>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="why_adi.html">Why ADI</a></li>
                                    <li><a href="applications.html">Applications</a></li>
                                    <li><a href="resource.html">Resource</a></li>
                                    <li><a href="software.html">Software</a></li>
                                    <li><a href="career.html">Career</a></li>
                                    <li class="active"><a href="about_us.html">About Us</a></li>
                                    <li><a href="contact_us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Products</div>
                            <div class="footer_navi">
                                <ul class="product_li">
                                    <li><a href="products_detail.html">Single Point Load Cells</a></li>
                                    <li><a href="products_detail.html">Shear Beam Load Cells</a></li>
                                    <li><a href="products_detail.html">Compression Type <br>Load Cells</a></li>
                                    <li><a href="products_detail.html">Double Ended Shear Beam Load Cells</a></li>
                                    <li><a href="products_detail.html">Universal Load Cells</a></li>
                                    <li><a href="products_detail.html">Column Load Cells</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Contact Us</div>
                            <div class="address">
                                <ul class="contactDetail">
                                    <li>
                                        <span><a href="#"><img src="~/images/icon_location.svg" alt="" class="img-fluid"> </a></span>
                                        <p>917/1, G.I.D.C. Estate,<br>
                                            Makarpura, Vadodara - 390 010,<br>
                                            Gujarat, India.</p>
                                    </li>
                                    <li>
                                        <span><a href="#"><img src="~/images/icon_mail.svg" alt="" class="img-fluid"> </a></span>
                                        <a href="mailto:sales@adiartech.com">sales@adiartech.com</a>
                                    </li>
                                    <li>
                                        <span><a href="#"><img src="~/images/icon_phone.svg" alt="" class="img-fluid"> </a></span>
                                        <a href="tel:+919054467370">+91-9054467370</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Follow Us</div>
                            <div class="social_link">
                                <ul>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="makeing_logo">
                                <img src="~/images/making_logos.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <div class="copyright"><span><img src="~/images/icon_copyright.svg" alt="" class="img-fluid"></span>Copyright Adi Artech Transducers pvt. ltd. 2023. <br>All Rights Reserved.</div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="website_by"><span>Website Designed By:</span>
                            <a href="http://meghtechnologies.com/" target="_blank">
                                <img src="images/logo_meghtechnologies" title="Megh Technologies" alt="Megh Technologies">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- =========== Footer Area End =========== -->
    <script src="js/bootstrap/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>    
    <script>
        $(".flagworldSlider").show();
        $(".flagworldSlider").slick({
            dots: false,
            arrows: true,
            rows: 2,
            autoplay: false,
            infinite: true,
            slidesToShow: 6,
            slidesToScroll: 1,
            responsive: [{
                    breakpoint: 990,
                    settings: {
                        //rows: 1,
                        slidesToShow: 4,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        //rows: 1,
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 450,
                    settings: {
                        //rows: 1,
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
            ]
        });
        $(".teamSlider").show();
        $(".teamSlider").slick({
            dots: false,
            arrows: true,
            //rows: 3,
            autoplay: false,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [{
                    breakpoint: 990,
                    settings: {
                        //rows: 1,
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        //rows: 1,
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 449,
                    settings: {
                        //rows: 1,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
</body>
</html>