<div class="row clearfix" ng-controller="app.views.application.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @("Applications")
                </h2>

                <button type="button" data-toggle="modal" ng-show="vm.permissions.applicationcreate" class="btn btn-primary btn-square waves-effect waves-square waves-float pull-right" ng-click="vm.openApplicationCreate()">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <!-- ******************** -->
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@L("Title")</th>
                        <th>@L("Actions")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in vm.application">
                        <td>{{t.title}}</td>
                        <td class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">menu</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a ng-show="vm.permissions.applicationcreate" class="waves-effect waves-block" ng-click="vm.openApplicationEdit(t)"><i class="material-icons">create</i>edit</a></li>

                                <li><a ng-show="vm.permissions.applicationcreate" class="waves-effect waves-block" ng-click="vm.deletedata(t)"><i class="material-icons">delete_sweep</i>delete</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>