<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=1024, initial-scale=1, minimum-scale: 1, maximum-scale: 1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

    <meta name="image" content="images/meta_img.jpg">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="images/meta_img.jpg">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="images/meta_img.jpg">
    <meta name="keywords" content="" />

    <title>Adi Artech Transducers Pvt. Ltd.</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/select2.css" rel="stylesheet" type="text/css" />
    <link href="css/form.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <!-- <b class="screen-overlay"></b>
    <div id="loaderbox">
        <div class="loader"></div>
    </div> -->
    <!-- =========== Header Area Strat =========== -->
    <div class="mainHeader">
        <div class="container">
            <header>
                <div class="logo">
                    <a href="index.html">
                        <img src="images/adi_artech_transducers_pvt_ltd.svg" alt="Adi Artech Transducers Pvt. Ltd." class="img-fluid">
                    </a>
                </div>
                <div class="header_right">
                    <div class="navBlock">
                        <div class="navbarBtn d-lg-none">
                            <button type="button" id="sidebarCollapse" class="btn crossLine">
                                <span class="line crossLine1"></span>
                                <span class="line crossLine2"></span>
                                <span class="line crossLine3"></span>
                            </button>
                        </div>
                        <nav class="navbarLink navbar-expand-md" id="sidebar">
                            <div class="navi_mobile">
                                <div class="navbar-collapse">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a href="products.html">Products</a></li>
                                        <li><a href="applications.html">Applications</a></li>
                                        <li><a href="software.html">Software</a></li>
                                        <li class="dropdown">
                                            <a href="about_us.html">About Us</a>
                                            <a class="dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-caret-down" aria-hidden="true"></i> </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="about_us_vision.html#ourvalues">Our Values</a></li>
                                                <li><a class="dropdown-item" href="about_us_vision.html#csr">CSR</a></li>
                                                <li><a class="dropdown-item" href="about_us_vision.html#annual_report">Annual Report</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="why_adi.html">Why ADI</a></li>
                                        <li><a href="resource.html">Resource</a></li>
                                        <li><a href="javascript:void(0)">Customization</a></li>
                                        <li><a href="career.html">Career</a></li>
                                        <li class="active"><a href="contact_us.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <!-- =========== Header Area end =========== -->
    <!-- =========== Banner Area Strat =========== -->
    <div class="banner_area inner_banner_area">
        <div class="inner_banner">
            <div class="banner_box">
                <div class="banner_img">
                    <img src="images/banner_contact_us.png" alt="" class="img-fluid">
                </div>
                <div class="banner_text">
                    <div class="container">
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =========== Banner Area end =========== -->
    <!-- =========== Main Conten Area Strat =========== -->
    <div class="mp_contenier inner_contenier">
        <div class="section_padding contact_adress_section">
            <div class="container">
                <div class="contact_adress">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2 col-md-4 order-md-2 brdright">
                            <div class="contactBlock">
                                <div class="imgIcon">
                                    <img src="images/locationl_icon_red.svg" alt="img" class="img-fluid">
                                </div>
                                <div class="contatcDesc">
                                    <h3>Address</h3>
                                    <p>917/1, G.I.D.C. Estate, Makarpura, <br>Vadodara - 390 010.Gujarat, India.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1 col-md-4 order-md-1 brdright">
                            <div class="contactBlock">
                                <div class="imgIcon">
                                    <img src="images/call_icon_red.svg" alt="img" class="img-fluid">
                                </div>
                                <div class="contatcDesc">
                                    <h3>Phone Number</h3>
                                    <p>
                                        <a href="tel:+919054467370">+91-9054467370</a>
                                        <a href="tel:+919374068998">+91-9374068998</a>
                                        <a href="tel:+919054467370">+91-9054467370</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 col-md-4 order-md-3">
                            <div class="contactBlock">
                                <div class="imgIcon">
                                    <img src="images/maill_icon_red.svg" alt="img" class="img-fluid">
                                </div>
                                <div class="contatcDesc">
                                    <h3>Email</h3>
                                    <p>
                                        <a href="mailto:sales@adiartech.com">sales@adiartech.com</a>
                                        <a href="mailto:adiartech@adiartech.com">adiartech@adiartech.com</a>
                                        <a href="mailto:marketing@adiartech.com">marketing@adiartech.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map_area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d41780.17304152542!2d73.16430750570922!3d22.244613920443836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s917%2F1%2C%20G.I.D.C.%20Estate%2CMakarpura%2C%20Vadodara%20-%20390%20010.Gujarat%2C%20India!5e0!3m2!1sen!2sin!4v1687504185524!5m2!1sen!2sin" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="section_padding career_section contact_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Get In Touch</h2>
                        <div class="careerForm formarea maxwidth705">
                            <div class="detail_form">
                                <form action="http://www.kincgroup.com/Career/sendmail" name="career_form" id="career_form"
                                      enctype="multipart/form-data" method="post" accept-charset="utf-8" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Name" name="txtname"
                                                       maxlength="200" minlength="2" class="form-control required">
                                                <input type="hidden" name="txtname_V" value="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Company" name="company"
                                                       maxlength="200" minlength="2" class="form-control required">
                                                <input type="hidden" name="company_V" value="Company">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Address"
                                                          name="address" maxlength="500"></textarea>
                                                <input type="hidden" name="address" value="Address">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <input type="text" placeholder="City" name="city"
                                                       maxlength="200" minlength="2" class="form-control required">
                                                <input type="hidden" name="city_V" value="City">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <input type="text" placeholder="State" name="state"
                                                       maxlength="200" minlength="2" class="form-control required">
                                                <input type="hidden" name="state_V" value="State">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <input type="text" placeholder="Country" name="country"
                                                       maxlength="200" minlength="2" class="form-control required">
                                                <input type="hidden" name="country_V" value="Country">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Email" name="txtemail"
                                                       maxlength="200" minlength="2" class="form-control required email">
                                                <input type="hidden" name="txtemail_V" value="Email Address">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Phone No" name="phone_no"
                                                       maxlength="200" minlength="2" class="form-control required">
                                                <input type="hidden" name="phone_no_V" value="Phone No">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Products Interested In"
                                                          name="products_interested_in" maxlength="500"></textarea>
                                                <input type="hidden" name="products_interested_in" value="Products Interes In">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Comments"
                                                          name="comments" maxlength="500"></textarea>
                                                <input type="hidden" name="comments" value="Comments">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="roboto">
                                                    <div class="capcha_coad_area">
                                                        <input type="text" name="number_V" class="form-control required" id="number"
                                                               onblur="validatecaptcha()" placeholder="Captcha Code">
                                                        <label class="pull-right">
                                                            <img src="http://www.kincgroup.com/php_captcha"
                                                                 alt="image">
                                                        </label>
                                                        <label class="error" id="captchaerror"
                                                               style="display:none;color:#ff0000;margin-top:10px;">
                                                            Enter valid
                                                            string
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margintop10 btn_submit">
                                            <a href="#" class="btn btn_comman btn_brd"><span>Submit</span></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="imgbox"><img src="images/img_conact_us.jpg" alt="Join Us" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =========== Main Conten Area End =========== -->
    <!-- =========== Footer Area Strat =========== -->
    <footer class="fotter_area">
        <div class="footerTop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Explore Links</div>
                            <div class="footer_navi">
                                <ul>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="why_adi.html">Why ADI</a></li>
                                    <li><a href="applications.html">Applications</a></li>
                                    <li><a href="resource.html">Resource</a></li>
                                    <li><a href="software.html">Software</a></li>
                                    <li><a href="career.html">Career</a></li>
                                    <li><a href="about_us.html">About Us</a></li>
                                    <li class="active"><a href="contact_us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Products</div>
                            <div class="footer_navi">
                                <ul class="product_li">
                                    <li><a href="products_detail.html">Single Point Load Cells</a></li>
                                    <li><a href="products_detail.html">Shear Beam Load Cells</a></li>
                                    <li><a href="products_detail.html">Compression Type <br>Load Cells</a></li>
                                    <li><a href="products_detail.html">Double Ended Shear Beam Load Cells</a></li>
                                    <li><a href="products_detail.html">Universal Load Cells</a></li>
                                    <li><a href="products_detail.html">Column Load Cells</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Contact Us</div>
                            <div class="address">
                                <ul class="contactDetail">
                                    <li>
                                        <span><a href="#"><img src="images/icon_location.svg" alt="" class="img-fluid"> </a></span>
                                        <p>
                                            917/1, G.I.D.C. Estate,<br>
                                            Makarpura, Vadodara - 390 010,<br>
                                            Gujarat, India.
                                        </p>
                                    </li>
                                    <li>
                                        <span><a href="#"><img src="images/icon_mail.svg" alt="" class="img-fluid"> </a></span>
                                        <a href="mailto:sales@adiartech.com">sales@adiartech.com</a>
                                    </li>
                                    <li>
                                        <span><a href="#"><img src="images/icon_phone.svg" alt="" class="img-fluid"> </a></span>
                                        <a href="tel:+919054467370">+91-9054467370</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="comman_footer">
                            <div class="footHeading">Follow Us</div>
                            <div class="social_link">
                                <ul>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="makeing_logo">
                                <img src="images/making_logos.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <div class="copyright"><span><img src="images/icon_copyright.svg" alt="" class="img-fluid"></span>Copyright Adi Artech Transducers pvt. ltd. 2023. <br>All Rights Reserved.</div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="website_by">
                            <span>Website Designed By:</span>
                            <a href="http://meghtechnologies.com/" target="_blank">
                                <img src="images/logo_meghtechnologies.png" title="Megh Technologies" alt="Megh Technologies">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- =========== Footer Area End =========== -->
    <script src="js/bootstrap/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- ========== Select Dropdown js Strat ========== -->
    <script src="js/select2.js"></script>
    <script>

        $(".myval").select2({
            width: "100%",
            dropdownAutoWidth: true,
        });
    </script>
    <!-- ========== Select Dropdown js End ========== -->
</body>
</html>